@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e0e0e0;
}
.main {
    width: 100%;
    height: auto;
}
.text-header {
    text-align: center;
    margin: 10px;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 3px;
}
.input-box {
    border: 1px solid rgba(99, 97, 97, 0.63);
    width: 50%;
    margin: 28px auto;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 10px 10px 19px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 19px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px -14px rgba(0,0,0,0.75);
    transition: 0.4s linear;
}
.text {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.title-input {
    margin-top: 7px;
    width: 90%;
    height: 5vh;
    padding-left: 7px;
    outline: none;
    margin-top: 10px;
    border: none;
    border: 1px solid rgb(20, 148, 199);
    border-radius: 7px;
}
.title-input:focus {
    border: 2px solid rgb(20, 148, 199);
    border-radius: 7px;
}
.title-body {
    width: 90%;
    height: 12vh;
    padding-left: 7px;
    margin-top: 10px;
    outline: none;
    border: none;
    border: 1px solid rgb(20, 148, 199);
    border-radius: 7px;
    padding: 9px;
}
.title-body:focus {
    border: 2px solid rgb(20, 148, 199);
    border-radius: 7px;
}
.input-btn {
    text-align: center;
    margin-top: 12px;
}
.btn {
    width: 120px;
    height: 30px;
    outline: none;
    cursor: pointer;
    color: #2c3e50;
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid #2c3e50;
    border-radius: 3px;
    transition: 0.5s ease;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 16px #949494,
             -9px -9px 16px #ffffff;
} 
.btn:hover {
    color: #2c3e50;
    border-radius: 10px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -9px -9px 25px #a6a6a6,
                 9px 9px 25px #ffffff;
}

.note-parent{
    width: 50%;
    height: auto;
    border: 1px solid rgba(99, 97, 97, 0.63);
    padding: 12px;
    margin: 28px auto;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    transition: 0.3s linear;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}
.note-parent:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}
.show-title {
    color: black;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.open {
    width: 25%;
    height: 4vh;
    outline: none;
    border: 1px solid #3c40c6;
    color: #3c40c6;
    font-size: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    border-radius: 8px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  7px 7px 14px #9f9f9f,
             -7px -7px 14px #ffffff;
}
.open:hover {
    color: #3c40c6;
    border-radius: 8px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 14px #9f9f9f,
             -7px -7px 14px #ffffff;  
}
.modal-title {
    padding: 10px;
    width: 100%;
    background-color: white;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid black;
}
.modal-body {
    margin-top: 15px;
    background-color: white;
    font-size: 1rem;
}
.modal-body::first-letter {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.cont2 {
    position: relative;
}
.close {
    width: 20%;
    height: 4vh;
    outline: none;
    border: 1px solid #05c46b;
    position: absolute;
    bottom: 25px;
    right: 20px;
    border-radius: 5px;
    color: white;
    background-color: #05c46b;
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
}

.delete {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: #eb4d4b;
    border: 1px solid #eb4d4b; 
    padding: 5px;
    font-size: bold;
    border-radius: 124px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  7px 7px 14px #aaaaaa,
             -7px -7px 14px #ffffff;
    cursor: pointer;
    transition: 0.4s linear;
}
.delete:focus {
    
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 14px #9f9f9f,
             -7px -7px 14px #ffffff;  
}


@media (max-width: 425px) {
    .input-box{ width: 90%;}
    .close{ width: 25%;}
    .note-parent{ width: 90%; }
    .close { display: none; }
}

@media (max-width: 650px) {
    .input-box{ width: 80%; }
    .close{ width: 25%;}
    .note-parent{ width: 80%; }
}
@media (min-width: 750px) {
    .input-box{ width: 40%; }
    .close{ width: 20%;}
    .open{width: 20%}
    .note-parent{ width: 40%; }
}